Source: grasp
Section: misc
Priority: optional
Maintainer: Karel Wintersky <karel@wintersky.ru>
Description: GRASP
 Git Repository Aggregation & Storage Platform

Package: grasp
Architecture: all
Description: Git Repository Aggregation & Storage Platform
